.image{
    border: none;
}
  
a{
    text-decoration: none;
}
.Button{
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;
    margin: 12px;;
  
}
  
a{
    color: #6366f1;
}

a:hover{
    color: #6c6edf;
}

.size{
    height: 200px;
}